
html {
  font-size: 15px;
  font-family: 'Rubik Beastly', cursive;
  background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
}

body {
  width: 600px;
  margin: 0 auto;
  background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}

.kubik1 {
	border: 2px solid;
	width: 100px;
	height: 100px;
	margin-left: -20%;
	display: inline-block;
	transform: rotate(40deg);
	background: linear-gradient(to bottom right, blue, pink);
	opacity: 90%;
}

.kubik2 {
	border: 2px solid;
	width: 100px;
	height: 100px;
	margin-right: -30px;
	display: inline-block;
	background: radial-gradient(red, orange);
}

.kubik3 {
	border: 2px solid;
	width: 100px;
	height: 100px;
	margin: 20px;
	display: inline-block;
	background:
      radial-gradient(circle at 50% 0,
        rgba(255,0,0,.5),
        rgba(255,0,0,0) 70.71%),
      radial-gradient(circle at 6.7% 75%,
        rgba(0,0,255,.5),
        rgba(0,0,255,0) 70.71%),
      radial-gradient(circle at 93.3% 75%,
        rgba(0,255,0,.5),
        rgba(0,255,0,0) 70.71%) beige;
  opacity: 60%;
}

.kubik4 {
	border: 2px solid;
	width: 100px;
	height: 100px;
	margin-left: 60px;
	display: inline-block;
	transform: rotate(-13deg);
	background: repeating-radial-gradient(black, black 5px, white 5px, white 10px);
}

/* СВОЙСТВА БЛОКОВ */
.blockblock {
	border: 3px solid #000;
	margin: 10% 10% 10% -30%;
	background-image: url('../img/giphy.gif');
	background-position: center;
	background-size: 720px 300px;
}

.blockblock2 {
	margin: -60% -50% 10% 70%;
	height: 300px;
	width: 200px;
	background-image: url('../img/7011dc12a7566acd571c56f7451aad0c_w200.webp');
	background-repeat: no-repeat;
	overflow: visible;
	position: relative;
}


/* ШРИФТЫ */
.arial {
	font-family: cursive;
	text-decoration: wavy overline black;
	text-shadow: 50px 100px 1px;
}

/*
p, li {
	line-height: 8;
	letter-spacing: 2px;
}
*/

.h1 {
	font-weight: normal;
	/* text-align: center; */
	margin: 0;
  	padding: 20px 0;
  	color: #00539F;
  	text-shadow: 3px 3px 1px black;
}

.i1 {
    width: 200px;
    height: 200px;
      }

.a {
	color: #00539F;
}

a:hover {
	color: MediumPurple;
}

.button {
	margin: 10px 0;
}

/* 
.p1 {
	color: gold;
}

.p2 {
	color: fuchsia;
}

.p3 {
	color: lime;
}
*/

.c1 {
	color: red;
}

.c2 {
	color: orange;
}

.c3 {
	color: yellow;
}

.c4 {
	color: green;
}

.c5 {
	color: #00FFFF;
}

.c6 {
	color: #0080FF;
}

.c7 {
	color: purple;
}
